---
---
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/assets/default.css">
<title>静</title>
</head>
<body>
{% include header.html %}
<aside>	
</aside>
<article>
{% for post in site.posts limit:5 %}
	<div class="recent_list">        
             <h1>
                <a class="post-title-index" href="{{ post.url }}">{{ post.title }}</a>
             </h1>
         <p>{{ post.date | date: "%Y年%-m月%-d日 "}}</p>
                                        <div class="excerpt">
                                                {{ post.excerpt }}
                                        </div>        
    </div>
{% endfor %}
</article>
<footer>{% include footer.html %}</footer>
</body>
</html>
