@media (min-width: 1200px) {
  .container {
    width: 970;
  }
}

.banner-background{
  background: black; 
  position:absolute; 
  width:100%; 
  height:280px; 
  z-index:-1;
}

.icon{
  position:absolute; 
  right: 50px;
}
/*
 * Masthead for nav
 */

.blog-header {
  position: relative;
  top: 150; 
}

/* Nav links */
.nav-item{
  color: white;
  font-size: 72;
}