---
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
  <link href="/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/default.css">
　<title>{{ page.title }}</title>  
</head>
<body>
	<div class="page">

 	<div class="banner-background">   
	    <img class="icon" src="{{ base-url }}/jing.jpg"; />   
	</div> 
	
	<div class="container">
	<img src="{{ base-url }}/assets/flower.jpg" alt="" class="img-circle">
	  	<div class="row">
	      	<div class="col-sm-8">
		  	 	<div class="posts">
		  	 		<div class="post-title text-right"> {{ page.title }}</div>
		  	 		<nav class="" ><a href="{{ base-url }}/index.html">&lt </a></nav>
		  	 		<div class="content text-left">{{ content }}</div>
		  		</div>
		  	 
		  	<div class="text-center">
				  <ul class="pager">
				  	{% if page.previous %}
				    <li>
				      <a href="{{ page.previous.url }}">页前</a>
				    {% else %}
				    <li class="disabled">
				      <a href="{{ page.previous.url }}">页前</a>
				    

				    {% endif %}
				    </li>
					<li><a href="{{ base-url }}/index.html">首页</a></li>
					{% if page.next %}
				    <li>
				      <a href="{{ page.next.url }}">页后</a>
				    {% else %}
				    <li class="disabled">
				    	 <a href="{{ page.next.url }}">页后</a>
				    {% endif %}
				    </li>
				  </ul>
				</div>
				</div>	
			  </div>
	  	</div><!-- row -->
	</div><!-- container -->
	</div>
	<footer class="blog-footer">
		<p>静思及远</p>
	</footer>
	
<script type="text/javascript" src="/assets/default.js"></script>
<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>